{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Gestion de Rutas
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center mt-5" style="height: 100vh;">
  <div class="card border-danger border pricing-card-body text-center" style="width: 300px; height: 300px;">
    <div class="text-center pricing-card-head"> 
      <h3 class="text-danger">Rutas</h3>
      <img src="{% static 'img/Logo PNG.png' %}" style="height: 30px; margin-top: 5px;" alt="prduct image" width="150" height="150"/>
    </div>

    <div class="mt-3">
      <a href="{% url 'home:rutas' %}" class="btn btn-danger">Rutas</a>
    </div>
  </div>
</div>
{% endblock %}
