{% extends "base/base.html" %}

{% block title %}
Añadir estadio de futbol
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Añadir estadio</button>
        <a href="{% url 'core:list1' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
