{% extends "base/base.html" %}

{% block title %}
  Eliminar Ciudad
{% endblock title %}

{% block content %}
<h1>Eliminar Ciudad</h1>
<p>¿Desea eliminar la ciudad {{ City.ciudad }}?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Sí, Continuar</button>
  <a href="{% url 'core:list3' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}