{% extends "base/base.html" %}

{% block title %}
  Detalles de la ciudad
{% endblock title %}


{% block content %}
<h1>Detalles de la Ciudad</h1>
  <p>Ciudad: {{ City.ciudad }}</p>
  <a href="{% url 'core:list3' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}