{% extends "base/base.html" %}

{% block title %}
  Detalles de los estadios
{% endblock title %}

{% block content %}
  <h1>Detalles de los estadios</h1>
    <p>Estadio: {{ stadium.nombre }}</p>
    <p>Descripción: {{ stadium.description }}</p>
    <p>Capacidad: {{ stadium.estadio }}</p>
  
  <a href="{% url 'core:list3' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}
