{% extends "base/base.html" %}

{% block title %}
  Detalles de los equipos
{% endblock title %}

{% block content %}
  <h1>Detalles de los equipos</h1>

    <p>Equipo: {{ team.equipo }}</p>
    <p>Liga: {{ team.liga }}</p>
  
  <a href="{% url 'core:list3' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}
