{% extends "base/base.html" %}

{% block title %}
  Actualziar ciudades
{% endblock title %}

{% block content %}
<h1>Actualizar ciudad</h1>
<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-outline-primary">Actualizar ciudad</button>
  <a href="{% url 'core:list3' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}